
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.header {
    display: flex;
    justify-content: center;
    padding: 40px 0px 20px 0px;
}

.title {
    font-family: 'Lato';
    font-size: 36px;
    font-weight: 300;
    color: #333333;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

div.tooltip {
    position: absolute;
    width: 150px;
    height: 60px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}