
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.header {
    display: flex;
    justify-content: center;
    padding: 40px 0px 20px 0px;
}

.title {
    font-family: 'Lato';
    font-size: 36px;
    font-weight: 300;
    color: #333333;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

div.tooltip {
    position: absolute;
    width: 150px;
    height: 60px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

svg#travelTypesChange circle.Business{
    stroke:darkorange;
    fill:darkorange;

}

svg#travelTypesChange circle.VisitingFriends{
    stroke:forestgreen;
    fill:forestgreen;
}

svg#travelTypesChange circle.Holiday{
    stroke:steelblue;
    fill:steelblue;
}

svg#travelTypesChange circle.Miscellaneous{
    stroke:crimson;
    fill:crimson;
}

.map {
    position:absolute;
    left:0;
    right:0;
    width: 900px;
    height: 600px;
}

.datamaps-legend dt, .datamaps-legend dd {
    float: none;
}

.datamaps-legend {
    right: -50px;
    left: 0px;
}

.description-text {
    width: 720px;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
}