
<!--Aviation Share Price-->
<div ng-controller="aviationSharePriceController">
    <div class="ui buttons" style="width: 500px; margin: 30px 0 20px 0">
        <button class="ui button" ng-click="selectAirline('./data/easyjet.csv')">Easyjet</button>
        <button class="ui button" ng-click="selectAirline('./data/ryanair.csv')">Ryanair</button>
        <button class="ui button" ng-click="selectAirline('./data/flybe.csv')">Flybe</button>
        <button class="ui button" ng-click="selectAirline('./data/iag.csv')">IAG</button>
    </div>
    <svg width="1080" height="540"></svg>
</div>